
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
        <div class="row">
            <div class="footer-col col-md-3 about text-white" style="text-align:center;">
                <div class="footer-col-inner">
                  <img src="static/img/logo/logo.png" alt="" style="max-width: 50%; max-height: 50%;"/>
                </div>
            </div>
            <div class="footer-col col-md-9 about text-white">
                    <div class="footer-col-inner">
                        AI LAB,
                        <a href="http://cs.hanyang.ac.kr"> Department of Computer Science and Engineering</a>,
                        <a href="http://www.hanyang.ac.kr"> Hanyang University</a> Seoul, Korea
                        <br><br>
                        <span>Contact : <a href="http://ai.hanyang.ac.kr/contact">604-2 ITBT Building / 505 R&D Building,  Hanyang University</a></span><br>
                        <span>AI Lab Tel : +82-2-2220-4139 / 4138</span>
                    </div><!--//footer-col-inner-->
                    <p class="m-0 text-white">Copyright &copy; Artificial Intelligence Lab by Byeongjo Kim 2019</p>
            </div>
        </div>
        </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
