
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
        <div class="row">
            <div class="footer-col col-md-12 col-sm-4 about text-white">
                    <div class="footer-col-inner">
                        <h3>About</h3>
                        AI LAB,
                        <a href="http://cs.hanyang.ac.kr"> Department of Computer Science and Engineering</a>,
                        <a href="http://www.hanyang.ac.kr"> Hanyang University</a> Seoul, Korea
                        <br><br>
                        <span>Prof. Office Tel : +82-2-2220-1139</span>
                        <br>
                        <span>AI Lab       Tel : +82-2-2220-4139 / 4138</span>
                    </div><!--//footer-col-inner-->
                    <p class="m-0 text-white">Copyright &copy; Byeongjo Kim 2019</p>
            </div>


        </div>
        </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
