{% include './top.html' %}

<div class="container">
      <br>
      <br>
      <h1 style="text-align: center;"><strong>Introduction</strong></h1>
      <br>
      <br>
         <div class="row">
        <div class="col-sm-12">
          <p style="text-indent: 1em;">
본 연구실에서는 컴퓨터가 인간의 지능적인 행위를 모방하여 수행하는 방법을 연구하는 인공지능 분야와 웹과 같은 대규모 컴퓨팅 환경에서 원하는 정보를 효과적으로 검색해주는 정보검색시스템 분야를 포함한 다양한 분야의 최신 연구를 수행하고 있습니다. 이를 위하여 인공지능 및 지능형정보 검색의 제반 이론 뿐만 아니라 인공신경망응용, 딥러닝모델, 로봇지능, 자연어처리기반 질의응답시스템, 기계학습 및 패턴인식 알고리즘, 맞춤형 콘텐츠추천, 게임기반학습 및 게임지능 등과 같은 응용/융합 분야에 대한 연구개발을 병행하고 있습니다.
<br><br>
              <strong>주요 연구분야</strong>
          </p>
        </div>
         </div>
    <div class="row">
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/ai.jpg" alt="">
              <div class="card-body">
                  <strong>인공지능 분야</strong><br>
                  <p style="color:#908e8b">
                    <br>     - 인공신경망응용(Artificial Neural Network Applications)
                    <br>     - 온톨로지기반지식관리시스템(Ontology Based Knowledge Management System)
                    <br>     - 자연어기반 대화생성시스템(Natural Language Based Dialog System)
                    <br>     - 패턴인식 및 매칭(Patten Recognition and Matching)
                    <br>     - 게임알고리즘(Game Playing Algorithm)
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/ir.png" alt="">
              <div class="card-body">
                  <strong>정보검색시스템 분야</strong><br>
                  <p style="color:#908e8b">
                        <br>     - 지능형검색 및 협력추천엔진 (Intelligent Information Retrieval and Collaborative Recommendation)
                        <br>     - 질의응답시스템(Question Answering System)
                        <br>     - 텍스트 마이닝 및 SNS 데이터 분석/시각화(Text Mining and SNS Data Analysis)
                        <br>     - 대규모문헌정보자동추출 (Information Extraction from Parsed Text Corpora)
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/robot.jpg" alt="">
              <div class="card-body">
                  <strong>융합 분야</strong><br>
                  <p style="color:#908e8b">
                        <br>     - 로봇 지능 (Robot Intelligence)
                        <br>     - 스마트 앱 (Smart App.)
                        <br>     - 게임기반학습 및 게임지능 (Game Based Learning and Game Intelligence)
                        <br>     - e-러닝 및 지능형튜토링시스템 (e-Learning and Intelligent Tutoring System)
                  </p>
              </div>
            </div>
        </div>
    </div>
              <p style="text-align:right;font-size:13px">
                  <br>
                  *위 분야에 관심과 열정이 있는 연구원을 상시 모집하고 있습니다. (석박통합과정 및 박사과정우대, 문의 02-2220-4139)
                  <br>모집대상: 석사과정, 석박통합과정, 박사과정, 인턴연구원(학사졸, 학부 4학년생)
              </p>

                  <!--<br><strong>우대 조건</strong>
                <br> 1. 평소 프로그래밍, 자료구조 또는 알고리즘 과목에 흥미를 가지고 있는 컴퓨터관련 전공자
                <br> 2. Thinking machine을 만들어 보고 싶은 꿈을 가지고 있었거나 있으며 수학 과목에 두각을 나타내 본 적이 있는 프로그래밍 경험이 있는 이공계 전공자
                <br> 3. 삼성전자, LG전자, Google, Amazon, NHN, NCSoft 등의 회사에 입사하여 창의적이고 재미나는 일을 해보고 싶은 희망을 가지고 있으며 평소 딥러닝, 기계학습, 정보검색엔진, 컴퓨터게임개발 등에 대하여 관심이 있고 프로그래밍을 해본 적이 있는 이공계 전공자
                -->
            <br><br>
</div>

{% include './bottom.html' %}