{% include './top.html' %}

<div class="container">
      <br>
      <br>
      <h1 style="text-align: center;"><strong>Introduction</strong></h1>
      <br>
      <br>
         <div class="row">
        <div class="col-sm-12">
          <p style="text-indent: 1em;">
본 연구실에서는 컴퓨터가 인간의 지능적인 행위를 모방하여 수행하는 방법을 연구하는 인공지능 분야의 다양한 연구를 수행하고 있습니다. 특히, 딥러닝 모델, 온톨로지 및 지식기반 시스템, 자연어 대화생성시스템, 딥러닝기반 이미지 처리, 소셜네트워크 데이터 분석, 코퍼스정보추출, 로봇 지능 등의 다양한 주제에 대한 최신 연구를 진행하고 있습니다.
<br><br>
              <strong>주요 연구분야</strong>
          </p>
        </div>
         </div>
    <div class="row">
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/ai.jpg" alt="">
              <div class="card-body">
                  <strong>인공지능 분야 (AI)</strong><br>
                  <p style="color:#908e8b">
                    <br>     - 딥러닝(신경망) 모델(Deep Learning Model) 및 최적화(Optimization)
                    <br>     - 온톨로지 및 지식 기반 시스템(Ontology & Knowledge Based System)
                    <br>     - 딥러닝 기반 미디어(이미지, 동영상, 텍스트) 변환(Deep Learning Based Media Translation) 및 어노태이션(Annotation)
		    <br>     - 컴퓨터 비전(Computer Vision)
                    <br>     - 패턴인식 및 매칭(Patten Recognition & Matching)
                    <br>     - 게임 인공지능(Game Intelligence)
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/ir.png" alt="">
              <div class="card-body">
                  <strong>자연어(텍스트) 처리 분야 (NLP)</strong><br>
                  <p style="color:#908e8b">
                        <br>     - 대화생성시스템(Dialog Generation System)
                        <br>     - SNS 데이터 분석 및 시각화(SNS Data Analysis & Visualization)
                        <br>     - 자연어 텍스트 마이닝(Natural Language Text Mining)
                        <br>     - 대규모 문헌 정보자동추출(Information Extraction from Corpora)
                        <br>     - 자연어 번역(Natural Language Translation)
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/robot.jpg" alt="">
              <div class="card-body">
                  <strong>지능형 로봇 분야 (Intelligent Robot)</strong><br>
                  <p style="color:#908e8b">
                        <br>     - 로봇지능 (Robot Intelligence)
                        <br>     - 대화형 소셜로봇(Interactive Social Robot)
                        <br>     - 로봇 지식체계(Robot Knowledge Framework)
                        <br>     - 멀티모달 인간-로봇 상호작용(Multi-modal Human-Robot Interaction)
                        <br>     - 화자 의도 및 개체 인식(Utterance Intent Classification & Entity Recognition)                        
                  </p>
              </div>
            </div>
        </div>
    </div>
              <p style="text-align:right;font-size:13px">
                  <br>
                  *위 분야에 관심과 열정이 있는 연구원을 상시 모집하고 있습니다. (석박통합과정 및 박사과정 <span style="color:red">우선선발</span>, 문의 02-2220-4139)
                  <br>모집대상: 석사과정, 석박통합과정, 박사과정, 인턴연구원(학사졸, 학부 4학년생)
              </p>

                  <!--<br><strong>우대 조건</strong>
                <br> 1. 평소 프로그래밍, 자료구조 또는 알고리즘 과목에 흥미를 가지고 있는 컴퓨터관련 전공자
                <br> 2. Thinking machine을 만들어 보고 싶은 꿈을 가지고 있었거나 있으며 수학 과목에 두각을 나타내 본 적이 있는 프로그래밍 경험이 있는 이공계 전공자
                <br> 3. 삼성전자, LG전자, Google, Amazon, NHN, NCSoft 등의 회사에 입사하여 창의적이고 재미나는 일을 해보고 싶은 희망을 가지고 있으며 평소 딥러닝, 기계학습, 정보검색엔진, 컴퓨터게임개발 등에 대하여 관심이 있고 프로그래밍을 해본 적이 있는 이공계 전공자
                -->
            <br>

</div>


{% include './bottom.html' %}
