{% include './top.html' %}

    <!-- Page Content -->
    <div class="container">
      <br>
      <br>
      <h1 style="text-align: center;"><strong>Links</strong></h1>
      <br>
      <br>
      {% for l in links %}
      <h3><strong>{{ l.title }}</strong></h3>
      <br>
        <div style="margin-left:30px;">
            {% for category, info in l.links.items() %}
            <h5><strong>{{ category }}</strong></h5>
              {% for i in info %}
              <div style="margin-bottom:-10px">
                  <a href={{ i.link }} style="color:black">{{i.title}}</a>
              </div>
              <br>
              {% endfor %}
              <br>              
            {% endfor %}
        </div>
        <br>
    {% endfor %}

<!-- dont touch -->
    </div>
    <!-- /.container -->
{% include './bottom.html' %}