{% include './top.html' %}

<!-- Header with Background Image -->
    <!--
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4"></h1>
          </div>
        </div>

      </div>
    </header>
-->
<div class="container">
     <div class="row">
        <div class="col-lg-12">
            <div class="slideshow-container">

            <div class="mySlides slide1" style="display:block;">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                            <h2 style="font-size:200%"><span style="color:white">Hanyang University</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="mySlides slide2">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                        <h2 style="font-size:200%"><span style="color:white">Artificial Intelligence Laboratory</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="mySlides slide3">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                        <h2 style="font-size:200%"><span style="color:white">Artificial Intelligence Laboratory</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="mySlides slide4">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                        <h2 style="font-size:200%"><span style="color:white">Artificial Intelligence Laboratory</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="mySlides slide5">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                        <h2 style="font-size:200%"><span style="color:white">Artificial Intelligence Laboratory</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="mySlides slide6">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">

                </div>
            </div>

            <!--<div class="mySlides slide3"></div>-->

            <a class="prev" onclick="plusSlides(-1)" style="color:rgba(255,255,255,0.8)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)" style="color:rgba(255,255,255,0.8)">&#10095;</a>
        </div>

            <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
          <!--<span class="dot" onclick="currentSlide(3)"></span>-->
        </div>
    </div>
 </div>
<br>

    <iframe width="100%" height="600" src="https://www.youtube.com/embed/zsRVHw3eEWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!--<h2 class="mt-4"><strong>한양대학교 인공지능 연구실</strong></h2>-->
         <div class="row">
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/ai.jpg" alt="">
              <div class="card-body">
                  <strong>인공지능 분야</strong><br>
                  <p style="color:#908e8b">
                    딥러닝(신경망) 모델, 온톨로지 및 지식 기반 시스템, 딥러닝 기반 미디어(이미지, 동영상, 텍스트) 변환 및 어노테이션(annotation), 컴퓨터 비전
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/ir.png" alt="">
              <div class="card-body">
                  <strong>자연어(텍스트) 처리 분야</strong><br>
                  <p style="color:#908e8b">
                      대화생성시스템, 텍스트 마이닝, SNS 데이터 분석 및 시각화, 대규모 문헌 정보자동추출, 자연어 번역
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/robot.jpg" alt="">
              <div class="card-body">
                  <strong>지능형 로봇 분야</strong><br>
                  <p style="color:#908e8b">
                      로봇지능체계, 대화형 소셜로봇, 멀티모달 인간-로봇 상호작용, 화자 의도 및 개체 인식
                  </p>
              </div>
            </div>
        </div>
      </div><br>
              <p style="text-align:right;font-size:13px">*위 분야에 관심과 열정이 있는 연구원을 상시 모집하고 있습니다. (석박통합과정 및 박사과정 우선선발</span>, 문의 02-2220-4139)<br>
                모집대상: 박사과정, 석박통합과정, 석사과정, 인턴연구원(본 연구실 진학예정 학부4학년생)</p><br>

    <h5><strong>Apps</strong></h5>
     <div class="row">
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="http://sentimap.hanyang.ac.kr/">
              <img class="app" src="static/img/app/EA_banner.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>

         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
           <a href="http://166.104.112.197:8790">
             <img class="app" src="static/img/app/CRC_relation_extraction.png" alt="" style="max-height:40px;width:100%;">
           </a>
        </div>

         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
           <a href="http://166.104.112.197:8800">
             <img class="app" src="static/img/app/Ai_Vision_banner.png" alt="" style="max-height:40px;width:100%;">
           </a>
       </div>

     </div>
    <br>

    </div>
{% include './bottom.html' %}
