{% include './top.html' %}

<!-- Header with Background Image -->
    <!--
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4"></h1>
          </div>
        </div>

      </div>
    </header>
-->
<div class="container">
     <div class="row">
        <div class="col-lg-12">
            <div class="slideshow-container">

            <div class="mySlides slide1" style="display:block;">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                            <h2 style="font-size:200%"><span style="color:white">Hanyang University</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <div class="mySlides slide2">
                <div style="display: table; height: 100%; width:100%; overflow: hidden;">
                      <div style="display: table-cell; vertical-align: middle;text-align:center">
                        <div>
                            <h1 style="font-size:400%"><strong style="color:white">AI LAB</strong></h1>
                        <h2 style="font-size:200%"><span style="color:white">Artificial Intelligence Laboratory</span></h2>
                        </div>
                      </div>
                </div>
            </div>

            <!--<div class="mySlides slide3"></div>-->

            <a class="prev" onclick="plusSlides(-1)" style="color:rgba(255,255,255,0.8)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)" style="color:rgba(255,255,255,0.8)">&#10095;</a>
        </div>

            <br>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <!--<span class="dot" onclick="currentSlide(3)"></span>-->
        </div>
    </div>
 </div>
<br>
<!--<h2 class="mt-4"><strong>한양대학교 인공지능 연구실</strong></h2>-->
         <div class="row">
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/ai.jpg" alt="">
              <div class="card-body">
                  <strong>인공지능 분야</strong><br>
                  <p style="color:#908e8b">
                      인공신경망(Deep Learning), 온톨로지기반지식관리시스템, 자연어기반 대화생성시스템, 패턴인식 및 매칭, 게임알고리즘
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/ir.png" alt="">
              <div class="card-body">
                  <strong>정보검색시스템 분야</strong><br>
                  <p style="color:#908e8b">
                      지능형검색 및 협력추천엔진, 질의 응답시스템, 텍스트 마이닝 및 SN 데이터 분석/시각화, 대규모문헌정보자동추출
                  </p>
              </div>
            </div>
        </div>
         <div class="col-sm-4">
             <div class="card">
              <img class="card-img-top" src="static/img/etc/robot.jpg" alt="">
              <div class="card-body">
                  <strong>융합 분야</strong><br>
                  <p style="color:#908e8b">
                      로봇지능체계, 스마트 앱, 게임기반학습 및 게임지능, e-러닝 및 지능형튜토링시스템
                  </p>
              </div>
            </div>
        </div>
      </div><br>
              <p style="text-align:right;font-size:13px">*위 분야에 관심과 열정이 있는 연구원을 상시 모집하고 있습니다. (석박통합과정 및 박사과정우대, 문의 02-2220-4139)<br>
                모집대상: 석사과정, 석박통합과정, 박사과정, 인턴연구원(학사졸, 학부 4학년생)</p><br>
    
    <h5><strong>Apps</strong></h5>
     <div class="row">
        <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/tpe_banner.gif" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">          
              <img class="app" src="static/img/app/tpedown.gif" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
        <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/scormbanner.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/moodleserver.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
        <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/primeminer.gif" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/primeminer3d.GIF" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
        <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/cw_new_banner.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/QA_banner.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
        <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/QA_Admin.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/RVisualization_total.png" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
        <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="#">
              <img class="app" src="static/img/app/tpesearch_banner.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
         <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px">
            <a href="http://166.104.143.105:62000/main">
              <img class="app" src="static/img/app/EA_banner.jpg" alt="" style="max-height:40px;width:100%;">
            </a>
        </div>
     </div>
    <br>
    
    </div>
{% include './bottom.html' %}