{% include './top.html' %}

    <!-- Page Content -->
    <div class="container">
      <br>
      <br>
      <h1 style="text-align: center;"><strong>Member</strong></h1>
      <br>
      <br>
      <h3><strong>Professor</strong></h3>
      <br>
      <div class="row">

        <div class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="static/img/member/professor.jpg" alt="" style="height:20rem">
          </div>
        </div>

        <div class="col-md-8">
          <br>
          <h3>Yong Suk Choi</h3>
          <div >
              <div style="color:#908e8b">
                <p>Office : H305(IT/BT) 403-1<br>
                Tel : 82-2-2220-1139<br>
                E-mail : cys@hanyang.ac.kr</p>
              </div>
          </div>
          <h5>Education</h5>
          
          <div >
              <div style="color:#908e8b">
                <p>PhD in CS, Seoul National University, Korea<br>
                MS in CS, Seoul National University, Korea<br>
                BS in CS, Seoul National University, Korea</p>
              </div>
          </div>
          <!--
          <h5>Expereince</h5>
          
          <div >
              <div style="color:#908e8b">
                <p>PhD in CS, Seoul National University, Korea<br>
                MS in CS, Seoul National University, Korea<br>
                BS in CS, Seoul National University, Korea</p>
              </div>
          </div>
          -->

          <!--
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
          </ul>
          -->
        </div>

      </div>

<hr>
<br>
      <h3><strong>PhD Students</strong></h3>
      <div class="row">
        {% for i in phd %}
          <div class="col-md-3 my-4">
            <div class="card">
              <img class="card-img-top" src="static/img/member/{{i.image}}" alt="">
              <div class="card-body">
                {% if i.homepage %}
                  <a href="{{i.homepage}}" style="color:black;"><h4 class="card-title"><strong>{{i.name}}</strong></h4></a>
                {% else%}
                  <a style="color:black;"><h4 class="card-title"><strong>{{i.name}}</strong></h4></a>
                {% endif %}
                <p class="card-text" style="color:#908e8b"><a href="mailto:{{i.email}}" style="color:#908e8b">{{i.email}}</a><br><br><strong style="color:black">Research Areas</strong><br>{{i.research}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
<hr>
<br>
      <h3><strong>MS Students</strong></h3>
      <div class="row">
        {% for i in ms %}
          <div class="col-md-3 my-4">
            <div class="card">
              <img class="card-img-top" src="static/img/member/{{i.image}}" alt="">
              <div class="card-body">
                {% if i.homepage %}
                  <a href="{{i.homepage}}" style="color:black;"><h4 class="card-title"><strong>{{i.name}}</strong></h4></a>
                {% else%}
                  <a style="color:black;"><h4 class="card-title"><strong>{{i.name}}</strong></h4></a>
                {% endif %}
                <p class="card-text" style="color:#908e8b"><a href="mailto:{{i.email}}" style="color:#908e8b">{{i.email}}</a><br><br><strong style="color:black">Research Areas</strong><br>{{i.research}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
<hr>
<br>
      <h3><strong>Undergraduate Students</strong></h3>
      <div class="row">
        {% for i in under %}
          <div class="col-md-3 my-4">
            <div class="card">
              <img class="card-img-top" src="static/img/member/{{i.image}}" alt="">
              <div class="card-body">
                {% if i.homepage %}
                  <a href="{{i.homepage}}" style="color:black;"><h4 class="card-title"><strong>{{i.name}}</strong></h4></a>
                {% else%}
                  <a style="color:black;"><h4 class="card-title"><strong>{{i.name}}</strong></h4></a>
                {% endif %}
                <p class="card-text" style="color:#908e8b"><a href="mailto:{{i.email}}" style="color:#908e8b">{{i.email}}</a><br><br><strong style="color:black">Research Areas</strong><br>{{i.research}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
<hr>
<br>
      <h3><strong>Alumni</strong></h3>
      <div class="row">
        {% for i in alumni %}
          <div class="col-md-3 my-4">
            <div class="card" style="border:0px;margin-bottom:-20px">
              <div class="card-body">
                <h4 class="card-title"><strong>{{i.name}}</strong></h4>
                <p class="card-text" style="color:#908e8b">{{i.now}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
      <br>
<!-- dont touch -->
    </div>
    <!-- /.container -->
{% include './bottom.html' %}