{% include './top.html' %}
<script>
    window.onload = function(){
        elem = document.getElementById('isalumni');
        elem.style.display = 'none';
        elem = document.getElementById('notalumni');
        elem.style.display = 'none';
    }

    function checkAlumni(){
        elem = document.getElementById('isalumni');
        elem.style.display = 'block';
        elem = document.getElementById('notalumni');
        elem.style.display = 'none';
    }

    function checkStudent(de){
        if(de.value == "alumni"){
            checkAlumni();
        }
        else{
            elem = document.getElementById('student');
            elem.value = de.value
            elem = document.getElementById('isalumni');
            elem.style.display = 'none';
            elem = document.getElementById('notalumni');
            elem.style.display = 'block';
        }

    }
</script>

<div class="container" style="font-size:20px">
    <br>
    <br>
    <input type="radio" name="degree" value="phd" onclick="checkStudent(this)">PhD
    <input type="radio" name="degree" value="ms" onclick="checkStudent(this)">MS
    <input type="radio" name="degree" value="under" onclick="checkStudent(this)">under
    <input type="radio" name="degree" value="alumni" onclick="checkStudent(this);">Alumni

    <div id="notalumni">
        <form method="post" action="/member_insert">
        학위 : <input id="student" type="text" name="degree"/>
        <br>
        이름 : <input type="text" name="name" /><br>
        <br>
        이메일 : <input type="text" name="email" /><br>
        연구분야 : <input type="text" name="research" /><br>
        image : <input type="text" name="image" /><br>
        홈페이지(선택) : <input type="text" name="homepage" /><br><br>

        <input type="submit" value="전송">
        </form>
    </div>

    <div id="isalumni">
        <form method="post" action="/member_insert">
        학위 : <input type="text" name="degree" value="alumni"/>
        <br>
        이름 : <input type="text" name="name" /><br>
        <br>
        직장 : <input type="text" name="research" /><br><br>

        <input type="submit" value="전송">
        </form>
    </div>
    <br><br><br>
</div>
{% include './bottom.html' %}
