{% include './top.html' %}

    <!-- Page Content -->
    <div class="container">
      <br>
      <br>
      <h1 style="text-align: center;"><strong>Member</strong></h1>
      <br>
      <br>
      <h3><strong>Professor</strong></h3>
      <div class="row">

        <div class="col-md-3 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <h4 class="card-title"><strong>이름</strong></h4>
              <p class="card-text">연구분야 : 가나다<br>E-mail : aaa@aaa.aaa<br>homepage : https://aaa.aaa.com</p>
            </div>
          </div>
        </div>

      </div>
<hr>
<br>
      <h3><strong>PhD Students</strong></h3>
      <div class="row">

        <div class="col-md-3 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <a href="https://www.naver.com" style="color:black;"><h4 class="card-title"><strong>ByeongJo Kim</strong></h4></a>
              <p class="card-text"><a href="mailto:bjbj8083@gmail.com" style="color:black">bjbj8083@gmail.com</a><br><br><strong>Research Areas</strong><br>Vision</p>
            </div>
          </div>
        </div>

    </div>
<hr>
<br>
      <h3><strong>MS Students</strong></h3>
      <div class="row">

        <div class="col-md-3 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
            <div class="card-body">
              <a href="https://www.naver.com" style="color:black;"><h4 class="card-title"><strong>ByeongJo Kim</strong></h4></a>
              <p class="card-text"><a href="mailto:bjbj8083@gmail.com" style="color:black">bjbj8083@gmail.com</a><br><br><strong>Research Areas</strong><br>Vision</p>
            </div>
          </div>
        </div>

    </div>
<hr>
<br>
      <h3><strong>Alumni</strong></h3>
      <div class="row">

        <div class="col-md-3 my-4">
          <div class="card" style="border:0px;">
            <div class="card-body">
              <h4 class="card-title"><strong>이름</strong></h4>
              <p class="card-text">NC soft</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-4">
          <div class="card" style="border:0px;">
            <div class="card-body">
              <h4 class="card-title"><strong>이름</strong></h4>
              <p class="card-text">NC soft</p>
            </div>
          </div>
        </div>
    </div>
<!-- dont touch -->
    </div>
    <!-- /.container -->
{% include './bottom.html' %}